target/classes/com/sam/graduation/design/gdeurekaserver/GdEurekaServerApplication.class
target/classes/application.properties
target/test-classes/com/sam/graduation/design/gdeurekaserver/GdEurekaServerApplicationTests.class
